.condition{
    cursor: pointer;
    font-family: cursive;
    color: white;
    position: absolute;
    right: 27px;
    border: 0;
    text-align: center;
    width :80px;
    height: 28px;
    border-radius: 15%;
    background-color: rgba(132, 0, 255, 0.742);
}
.condition:hover{
    box-shadow: 0 0 20px white;
}