
.list {
    position: relative;
    border-radius: 5%;
    border: 2px solid rgb(255, 255, 255);
    width: 90%;
    min-height: 40px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: green;
}
